.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* signup page style */
.left-panel {
  background-color: #0070c0;
  position: relative;
}
.left-panel-footer {
  position: absolute;
  bottom: 3rem;
}
.border-bottom {
  border-bottom: 1px solid black;
}

.main-panel {
  position: relative;

}
.left-triangle {
  position: absolute;
  left: -30px;
  top: calc(100% / 2 - 30px);
}
.prev-p {
  cursor: pointer;
}

/* splash page style */
.splash {
  background-color: #0070c0;
}